h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
body{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  line-height: 1.5em;
}
header{
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
}
#container{
  width: 90%;
  margin: auto;
  padding: 10px;
}
#square{
  width: 80px;
  height: 80px;
  background-color: blueviolet;
}
.myClass{
  color: black;
  background-color: black;
}

#myDiv{
  background-color: rgb(19, 163, 31);
  height: auto;
  max-width: max-content;
  color: rgb(10, 10, 10);
}
#box{
  background: #333;
  color: #fff;
  width: 500px;
  height: 90px;
  padding: 40px;
  text-align: center;
}
#btnStop{
  background-color: blueviolet;
  border-color: blueviolet;
  border-radius: 5px;
}
#box2{
  background: red;
  width: 100px;
  height: 100px;
  position: relative;
}
#backdrop{
  background-color: rgb(20, 105, 41);
  margin: auto;
  width:60%;
  height: 200px;
  padding: 10px;
  position: relative;

}
#bars{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  display: inline-flex;
  background-color: bisque;
}